/Mang2chieu/nbproject/private/
/Mang2chieu/build/
/buoi2class/nbproject/private/
/buoi2class/build/
/buoi 3/nbproject/private/
/buoi 3/build/
/buoi4/nbproject/private/
/buoi4/build/
/luyen tap/nbproject/private/
/luyen tap/build/
/Bai tap da hinh- ke thua/nbproject/private/
/Bai tap da hinh- ke thua/build/
/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/QLSV/nbproject/private/
/QLSV/build/
/Luyen tap/nbproject/private/
/Luyen tap/build/
/Baitap11/nbproject/private/
/Baitap11/build/
/luyentap/nbproject/private/
/luyentap/build/
/Chuyen doi ngon ngu/nbproject/private/
/Chuyen doi ngon ngu/build/
/JavaApplication16/nbproject/private/
/JavaApplication16/build/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/lienkeqlyhocsinh/nbproject/private/
/lienkeqlyhocsinh/build/
/Modau/nbproject/private/
/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/baitap.html/nbproject/private/
/Bai_CSS/nbproject/private/
/js/nbproject/private/